[submodule "repos/abstractgraph"]
	path = repos/abstractgraph
	url = git@github.com:fabriziocosta/abstractgraph.git
[submodule "repos/abstractgraph-generative"]
	path = repos/abstractgraph-generative
	url = git@github.com:fabriziocosta/abstractgraph-generative.git
[submodule "repos/abstractgraph-graphicalizer"]
	path = repos/abstractgraph-graphicalizer
	url = git@github.com:fabriziocosta/abstractgraph-graphicalizer.git
[submodule "repos/abstractgraph-ml"]
	path = repos/abstractgraph-ml
	url = git@github.com:fabriziocosta/abstractgraph-ml.git
